/*--------------------------------------------------------------
# Ads Hero Section
--------------------------------------------------------------*/
/*BG*/
.ads-vss1 {
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/img/vss-ad1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.ads-plan1 {
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/img/plan1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 902px;
}

/*End of BG*/

#ads .container {
  padding-top: 1px;
}

#ads h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

#ads h2 {
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 50px;
  font-size: 24px;
}
#ads p {
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 30px;
  font-size: 18px;
}

#ads .btn-get-started {
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px 11px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px 0 0 0;
  color: #fff;
  background: #2f4858;
}

#ads .btn-get-started:hover {
  background: #9bde7e;
}

#ads .btn-watch-video {
  font-size: 16px;
  display: flex;
  align-items: center;
  transition: 0.5s;
  margin: 10px 0 0 25px;
  color: #fff;
  line-height: 1;
}

#ads .btn-watch-video i {
  line-height: 0;
  color: #fff;
  font-size: 32px;
  transition: 0.3s;
  margin-right: 8px;
}

#ads .btn-watch-video:hover i {
  color: #47b2e4;
}

#ads .animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

#ads .form {
	color: #fff;
	font-size: 18px;
	margin: auto;
	padding: 25px;
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 25px;
}

.ads-form {
	color: #fff;
	font-size: 18px;
	margin: auto;
}